:ruby
  def link(text, url, hash=nil)
    super(text, url, target: '_blank')
  end

  johnmcneil = '//johnmcneilstudio.com'
  juniper = '//static.johnmcneilstudio.com/simply_connected'
  grapevine_demo = '//grapevine.jackdesert.com'
  day_demo = '//aDayintheLifeof.net'
  lyxblogger_home = '//lyxblogger.nongnu.org'
  regi_home = '//hbbostonamc.org/regi'
  kooji_home= '//evening-mountain-9380.heroku.com'
  groovetask_home= '//groove.letseatalready.com'
  breadnbutter = '//github.com/jackdesert/breadnbutter'
  flywheel_android = '//play.google.com/store/apps/details?id=com.upstartmobile.Cabulous'
  flywheel_iphone = '//itunes.apple.com/us/app/flywheel/id584165682?ls=1&mt=8'
  flywheel_dot_com = '//flywheel.com'
  resume = '//jackdesert.com/resume.pdf'
  jacklisted_home = '//sfbay.jacklisted.com'
  jacklisted_source = '//github.com/jackdesert/jacklisted'

#header
  %h1 Portfolio of Jack Desert
  #resume= link 'r&eacute;sum&eacute;', resume


.gig
  .title= link 'Flywheel App (2013)', flywheel_dot_com
  .description Hail a cab from your smart phone, and watch it drive toward you
  .more My role on the Flywheel server team included making portions of the app geo-aware. For example, what fare structures get displayed to a user based on where in the world the Flywheel app is opened. My work also provided the back-end logic for displaying display special alerts when a livery vehicle was substituted for a regular taxi during peak usage times.
  .tech
    behind the API
    %ul
      %li Riak for high-availability storage
      %li Ruby/Rspec for sanity
      %li RR for mocks and stubs
      %li Much else that is proprietary
  .features
    %ul
      %li Servers aimed for 100% uptime (think of the implications when migrating across several servers...)
  .check
    .source= link 'Flywheel App for iPhone', flywheel_iphone
    .source= link 'Flywheel App for Android', flywheel_android
    .source= link 'Home Page', flywheel_dot_com

.gig
  .title= link 'JackListed (2013)', jacklisted_home
  .description A canonical, publicly-editable list of employers in the Internet industry
  .more There's something intriguing about creating something that can be edited by anyone, without requiring a login. The barrier to entry is only millimeters high, yet you must find creative ways to prevent spam and fraud.
  .tech
    %ul
      %li Rails 3.2
      %li Foundation 5
      %li Rspec/RR/Shoulda/FactoryGirl
  .features
    %ul
      %li Anyone can add listings
      %li Basic, reponsive design
      %li Each city gets its own subdomain
      %li Spam prevention through validates_uniqueness_of :domain_name
      %li Clean interaction design requires fewer mouseclicks
  .check
    .source= link 'Live on the Web', jacklisted_home, target: '_blank'
    .source= link 'Source Code', jacklisted_source


.gig
  .title= link 'BreadnButter (2013)', breadnbutter
  .description The Simplest Way to add Breadcrumbs to Your Site
  .more While other solutions for breadcrumbs require you to specify explicitly what text to display, what model to link to, etc., BreadnButter assumes RESTful routes and figures out the rest by itself.
  .tech
    %ul
      %li A gem for Rails 3.1+ applications
      %li Rails Engine to acquire gem's view files
      %li Rspec tested
  .features
    %ul
      %li Add to your project via Gemfile
      %li Insert into application.html.erb with one method call
  .check
    .source= link 'Source Code', breadnbutter

.gig
  .title= link 'JohnMcNeilStudio.com Showcase (2013)', johnmcneil
  .description Rails-backed responsive website with custom admin CMS
  .tech 
    %ul
      %li Rails 3.2
      %li Http Caching using max-age
      %li Action Caching with Memcached & Dalli
      %li Zurb Foundation
      %li Feedzirra
      %li All JavaScript run through JSHint
      %li Full Rspec test suite
      %li Postgres on the backend
      %li Paperclip for images
      %li Isotope for stackable layout
      %li Object-oriented approach for model reuse
  .features
    %ul
      %li Try it on any size device--responsive design achieved through Foundation 4
      %li Shows off stills and videos of all the projects JohnMcNeilStudio has worked on.
      %li Admin dashboard incorporates modular patterns
      %li Custom validations for image width, image height, and character count
      %li Admin dashboard allows reordering of items within the scope of its parent
  .check
    .demo= link 'Live on the web', johnmcneil


.gig
  .title= link 'Juniper Networks ROI Calculator (2013)', juniper
  .description Return on Investment Calculator in Backbone
  .tech 
    %ul
      %li Backbone
      %li Underscore
      %li jsHint
      %li Qunit
      %li Sass 
      %li Require.js
  .features
    %ul
      %li Single page application (SPA)
      %li Allows assumptions to be updated live 
      %li Relevant assumptions display on each virtual page
      %li Animated slot-machine style display
      %li Site allows navigation end-to-end 
  .check
    .demo= link 'Live on the web', juniper 



.gig
  .title= link 'the Grapevine (2013)', grapevine_demo 
  .description A simple message board using Backbone.js
  .tech 
    %ul
      %li Backbone.js
      %li Rails 3.2
      %li CoffeeScript
      %li Rspec
      %li Sqlite3
  .features
    %ul
      %li Single Page Application (SPA)
      %li Back-end durability achieved via AJAX calls to Rails controller and sqlite3
      %li No sign-in required
      %li Allows creating and editing messages without ever leaving the page
      %li Remembers which items you've alredy viewed, even if you page refresh
  .check
    .demo= link 'Live Demo', grapevine_demo
    .source= link 'Source Code', '//github.com/jackdesert/grapevine'


.gig
  .title= link 'A Day in the Life (2012)', day_demo
  .description A platform for organizing and sharing your life stories. Allows consumption from a web platform or as a e-book.
  .tech 
    %ul
      %li Rails 3.2
      %li CoffeeScript
      %li MongoDB 
      %li Rspec 
      %li eLyXer 
      %li Ebooks
      %li Rackspace
  .features
    %ul
      %li Preview avatar images before submitting profile
      %li Automatically saves as you type via AJAX
      %li Manage published/private via AJAX
      %li Client Side Validations for account creation
      %li Keeps track of which entries you've read so it can feed you another one in random order (Keeps track even if you're not logged in)
      %li Export to Ebook (.mobi) format
  .check
    .demo 
      = link 'Live Demo', day_demo
    .source
      %b Private Source Code:
      %ul
        %li git clone https//git.jackdesert.com/adayinthelifeof.git
        %li user: okcupid
        %li password: h9m7xa11e

.gig
  .title= link 'LyXBLogger (2009-2013)', lyxblogger_home
  .description A Python plugin for effortlessly publishing from LyX to a Wordpress blog
  .tech 
    %ul
      %li Python 2.7
      %li Console App
      %li WordPress
      %li XMLRPC
      %li Unit Tests
      %li OO design
  .check
    .demo= link 'Home page', lyxblogger_home 
    .source= link 'Source Code', '//github.com/jackdesert/lyxblogger_oo'

